<%= render partial: 'shared/tab_menu', locals: { selected: {library_functions: true}} %>

<div id="mainPanel">
  <h1>Create New Library Function</h1>

  <div class="simpleTableContainer">
   
    <%= render 'form' %>
  </div>
  
  <%= link_to 'Back', library_functions_path %>
</div>
