<%= render partial: 'shared/tab_menu', locals: { selected: {queries: true}}%>
<div id="mainPanel" >

<h1>Editing Template Query</h1>

<%= render :partial=>"query_details" %>

<table>
<tr><td><%= button_to 'Delete Query Template', {:action=>'destroy', :id=>@template_query.id}, :method=>:delete %></td>
</tr>
</table>
</div>