<%= render partial: 'shared/tab_menu', locals: { selected: {queries: true}}%>
 <div> 
  <%= render :partial=> "queries/sidebar" %>
</div>
<div id="mainPanel" >

<h1>Editing Template Query</h1>

<%= render :partial=>"query_details" %>

<%= button_to 'Delete Query Template', {:action=>'destroy', :id=>@template_query.id}, :class=>'btn first', :method=>:delete %></td>
</div>