<h1>Listing template_queries</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @template_queries.each do |template_query| %>
  <tr>
    <td><%= link_to 'Show', template_query %></td>
    <td><%= link_to 'Edit', edit_template_query_path(template_query) %></td>
    <td><%= link_to 'Destroy', template_query, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Template query', new_template_query_path %>
