<%= render partial: 'shared/tab_menu', locals: { selected: {queries: true}}%>
	 <div> 
	  <%= render :partial=> "queries/sidebar" %>
	</div>
<div id="mainPanel" >
	<h1>Query Admin - Create Query</h1>
	<%= render :partial=>"query_details" %>
</div>

