<header>
  <div id="logo">
    <p><a href="/"><%= image_tag "hquery_header_logo.png", :alt => "hQuery logo"%></a></p>
    <p>user: <%= current_user.first_name.to_s %> <%= current_user.last_name.to_s %></p>
  </div>
  <%= yield :tabMenu %>
</header>


