<% content_for :head do -%>
  <script type="text/javascript">
    var hQuery = hQuery || {};
    
    hQuery.gotoDashboard = function() {
	   var tab = $(this).data("tab");
	   window.location.href = "/"+tab
    };
    
    $(document).ready(function() {
      $('.dashboardTab').click(hQuery.gotoDashboard);
    });
  </script>
<% end -%>


<div id="header">
  <div id="breadcrumbBox">
    <ul id="breadcrumbItems">
    </ul>
    <%= render :partial => 'layouts/top_nav' %>
  </div><!-- end #breadcrumbBox -->
</div><!-- end #header -->