<div id="sidebarNavigation">
  <div class="sidebarGroup">
    <ul>
      <li class="dashboardTab<%=(selected[:queries]) ? ' selected' : ''%>" data-tab="queries"> <label>Queries</label> </li>
      <li class="dashboardTab<%=(selected[:endpoints]) ? ' selected' : ''%>" data-tab="endpoints"> <label>Endpoints</label> </li>
      <li class="dashboardTab<%=(selected[:qry_admin]) ? ' selected' : ''%>" data-tab="qryadmin"> <label>QryAdmin</label> </li>
      <li class="dashboardTab<%=(selected[:library_functions]) ? ' selected' : ''%>" data-tab="library_functions"> <label>Library Functions</label> </li>
    </ul>
    <br style="clear:both"/>
  </div>
</div><!-- end #sidebarNavigation -->
