<tr>

<% @code_sets.group_by(&:type).each do |type, name| %>
  <td><%= link_to type, :action=>'by_type', :type=>type %></td>
  <td><%= name.map(&:name).join(', ') %></td>
  <!--akling: would like to have had the names linked -->
</tr>
<%end%>