<div>
  <table class="simpleTable">
    <div class="top_border form_top_border">
      <div class="top_border_lower form_border_lower">
      </div>
    </div>
    <tr>
      <th>Name</th>
      <td><%= link_to entry.name, url_for(entry)  %></td>
    </tr>
    <tr>
      <th>Type</th>
      <td><%= link_to entry.type, :action=>'by_type', :type=>entry.type %></td>
    </tr>
    
    <tr>
      <th>Description</th>
      <td><%= entry.description %></td>
    </tr>
  </table>
      <div class="bottom_border_lower relative">
        <div class="bottom_border">
        </div>
      </div>
  </div>
</div>