<%= render partial: 'shared/tab_menu', locals: { selected: {}}%>
<div>
<%= render :partial=>"code_sets/form.html" %>
        <div class="bottom_border_lower relative">
      <div class="bottom_border">
      </div>
    </div>
</div>