<table class="simpleTable" id="endpoint_statuses"> 
  <% if @endpoints.size %>
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th>&nbsp;</th>
  </tr>
  <% end %>
  <% @endpoints.each do |endpoint| %>
  <% 
    if @endpoint_server_statuses[endpoint.id]['backend_status'] == 'good'
      status_class = 'good_status'
    else
      status_class = 'fail_status'
    end
  %>
  <tr>
    <td><%= link_to endpoint.name, endpoint_path(endpoint.id) %></td>
    <td class="<%= status_class %>"><%= @endpoint_server_statuses[endpoint.id]['backend_status'] %></td>
    <td><%= button_to '×', endpoint, :class=>"btn alert", :data => {:confirm => 'Are you sure you wish to delete this endpoint?'}, method: :delete, title:"×" if current_user.admin? %></td>
  </tr>
  <% end %>
</table>