<% content_for :head do -%>
  <script type="text/javascript">
  
  </script>
<% end %>

<div id="patientMetrics">
  <div class="patientGroupType">
    <ul>
      <li class="dashboardTab" data-tab="queries"> <label>Queries</label> </li>
      <li class="dashboardTab selected" data-tab="endpoints"> <label>Endpoints</label> </li>
      <li class="dashboardTab" data-tab="qryadmin"> <label>QryAdmin</label> </li>
    </ul>
    <br style="clear:both"/>
  </div>
</div>
<div id="dashboardPeriod" >
  <br style="clear:left"/>
  <div class="simpleTableContainer">
    <%= render :partial => 'endpoint_statuses' %>
  </div>
  
  <%= link_to(new_endpoint_path, class: "bluebutton") do %><span>Add Endpoint</span><% end if current_user.admin? %>
  <%= link_to({ :controller => 'endpoints', :action => 'refresh_endpoint_statuses' }, :class => "bluebutton", :remote => true) do %><span>Refresh Endpoints</span><% end %>
</div>
