<%= render partial: 'shared/tab_menu', locals: { selected: {endpoints: true}}%>
 <div> 
  <%= render :partial=> "queries/sidebar" %>
</div>
<div id="mainPanel">
  <h1>Create New Gateway</h1>
    <div class="top_border form_top_border">
      <div class="top_border_lower form_border_lower">
      </div>
    </div>

  <%= render 'form' %>
  
  <%= link_to 'Back', endpoints_path, :class=>"second btn" %>
    <div class="bottom_border_lower relative">
      <div class="bottom_border">
      </div>
    </div>
</div>
