<table id='aggregate_results'>
  <tr>
    <th align='left'>Key</th>
    <th align='left'>Value</th>
  </tr>

<% presenter = query.result_presenter
  if presenter.exist?
    presenter.each_pair do |key, value| -%>
  <tr>
    <td><code><%= key %>:</code></td>
    <td><code><%= jsonify(value) %></code></td>
  </tr>
  <% end -%>

<% else -%>
  <tr>
    <td>Aggregated Results not available</td>
    <td></td>
  </tr>
<% end -%>

</table>