<table id='aggregate_results'>
  <tr>
    <th align='left'>Key</th>
    <th align='left'>Value</th>
  </tr>

<% if query.last_execution && query.last_execution.aggregate_result %>

  <% query.last_execution.aggregate_result.each do |key, value| %>
  <% next if key=='_id' %>
  <tr>
    <td><code><%= key %>:</code></td>
    <td><code><%= jsonify(value) %></code></td>
  </tr>
  <% end %>

<% else %>
  <tr>
    <td>Aggregated Results not available</td>
    <td></td>
  </tr>
<% end %>

</table>