<% 
  execution = query.last_execution
  if (execution) %>
  <table id='execution_results'>
    <tr>
      <th align='left'>Source</th>
      <th align='left'>Result</th>
      <th></th>
    </tr>
    <% 
      execution.results.each_with_index do |result, index| 
    %>
      <tr valign='top'>
        <td><%= index %></td>
        <td>
          <% # This call uses /queries because this whole partial is called from an ActionMailer and it needs absolute paths%>
          <%= render :partial => '/queries/result', :locals => { :result => result } %>
        </td>
        <td> <% if execution.status == Execution::QUEUED %> <%= link_to "Cancel", {:action=>:cancel,:id=>query, :result_id=>result.id, :execution_id=>execution.id}%> <% end %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <div>Query has not been executed</div>
<% end %>
