<%= render partial: 'shared/tab_menu', locals: { selected: {queries: true}}%>

<div id="mainPanel">
<div class="simpleTableContainer">

<h1>Editing Query</h1>
<%= render :partial=>"query_details" %>
</div>
</div>
