<h1>All Queries</h1>

<table>
<% if @queries.size %>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Status</th>
  </tr>
<% end %>
<% @queries.each do |query| %>
  <tr>
    <td><%= query.title %></td>
    <td><%= query.description %></td>
    <td><%= query.status %></td>
  </tr>
<% end %>
</table>

<p><%= link_to 'Add Query', new_query_path %></p>