<%= render partial: 'shared/tab_menu', locals: { selected: {queries: true}}%>

<div id="mainPanel">
  <h1>Create New Query</h1>
  <button onclick="fakeIt(); generateQuery();">Generate Query</button>
  <%= render :partial=>"query_details" %>
</div>