div.section div.content {
  background-color: white;
  padding: 0 0;
  border: 5px solid #B2B2B2;
  border-radius: 14px;
  -moz-border-radius: 14px;
}

div.resource_dependency {
  display:table-row;
}

div.resource_dependency .name{
	padding: 3px 0;
}

div.resource_dependency .type{
  color: #B2B2B2; 
  font-size: 70%;  
}

li.collection_dependency {
  padding-left: 28px;
}

li.collection_dependency > * {
  padding-top: 5px;
}

li.dependency {
	margin-bottom: 2px;
}

div.dependency_collection {
  padding: 5px 0 0px 20px;
}

div.dependency_collection .active, div.dependency_collection.active {
  background-color: #D2D2D2;
  border-radius: 7px;
  -moz-border-radius: 7px;
}

div.dependency_collection .active li, div.dependency_collection.active li {
  background-color: #D2D2D2;
}

div.dependency_collection .resource_names{
  padding: 10px;
  font-weight : normal;
  color: #777777;
  width: 200px;
  overflow: hidden;
}

div.dependency_collection .dep_type {
  display: inline;
  color: #B2B2B2;
  font-weight: bold;
}

div.dependency_collection .dep_type span.expansion_indicator {
  width: 20px;
  height: 20px;
  background-image: url('/assets/sprites_small.png');
  background-position: -504px 62px;
  display:inline-block;
}

div.dependency_collection.collapsed .dep_type span.expansion_indicator {
  background-position: -483px 62px;
}

ul.dc_list li.top{
  border-bottom: 2px solid #B2B2B2; 

}

.cia, .criticality_toggle {
	float: right;
	display: block;
  padding: 0;
	margin: 0;
  width: 12px;
  text-align: center;
  color:  #AAA;
  background-color: #CCC;
  font-weight: bold;
  border: 4px solid #CCC;
  border-radius: 4px;
  -moz-border-radius: 4px;
}

.criticality_toggle:hover {
	color: #666;
}

.selected {
  background-color: black;
  border: 4px solid #000000;  
  border-radius: 4px;
  -moz-border-radius: 4px;
  color:  #FFFFFF;
}

.conditional_editor li.resource_dep {
	padding: 5px 10px 5px 10px;
	cursor: pointer;
}

.conditional_editor li.dependency.collection {
	padding: 5px 0px 0px 10px;
	cursor: pointer;
}

ul.draggable_search_results li.hover,
 .conditional_editor ul li.resource_dep:hover,
 .conditional_editor ul li.dependency.collection.hover {
  background-color: #E6E6E6;
  color: black;
  border: 2px dashed #B2B2B2;
  border-radius: 7px;
  -moz-border-radius: 7px;
	padding-top: 3px;
	padding-left: 8px;
	margin-bottom: 0px;
}

ul.draggable_search_results li.hover {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E6E6E6', endColorstr='#E6E6E6', GradientType=0); /* for IE */
  background:  -webkit-gradient(linear, center top, center bottom, from(#E6E6E6), to(#E6E6E6)); /*for webkit browsers */
	background-image: -moz-linear-gradient(top,  #E6E6E6,  #E6E6E6); /* for firefox 3.6+ */
}

 .conditional_editor ul li.dependency.collection.hover li.dependency,
 .conditional_editor ul li.dependency.collection.hover ul {
	background-color: #E6E6E6;
}

#dep_editor .active ul {
	background-color: #D2D2D2;
}

ul.draggable_search_results li span.arrow_sprite {
  display: none;
  background-image: url(/assets/sprites_small.png);
}

ul.draggable_search_results li:hover span.arrow_sprite, body .ui-draggable-dragging span.arrow_sprite {
  display: inline-block !important;
  background-position: -462px 62px !important;
  width: 20px !important;
  height: 20px !important;
  background-image: url(/assets/sprites_small.png) !important;
}

.ui-draggable-dragging {
  opacity: .75;
	filter: alpha(opacity=50);
  width: 100%;
  background-color: #E6E6E6;
  color: black;
  border: 2px dashed #B2B2B2 !important;
  border-radius: 7px;
  -moz-border-radius: 7px;}

.conditional_editor ul li.resource_dep.to_delete:hover,
  .conditional_editor ul li.dependency.collection.hover .to_delete,
	.to_delete {
  background-color: #C51E2F !important;
  color: white !important;
  border: 2px dashed #940005;
  border-bottom: 2px dashed #940005;
  border-radius: 7px;
  -moz-border-radius: 7px;
}

.dependency.error {
	opacity: 0.25;
}

.dependency.error, .dependency.error .dependency {
	background-color: #C51E2F;
}

.error div.resource_dependency .name, .to_delete div.resource_dependency .name {
  color: white;
}

.dependency.pending {
	opacity: .25;
}

li.dependency span.sprite {
	padding-top: 0;
	position: absolute;
	top: 5px;
	right: 5px;
}

img.busy_indicator {
	float: right;
	margin: 2px;
}

.conditional_editor li.dependency {
	border: none;
	border-radius: 0;
	-moz-border-radius: 0;
}

.resource_dependency .name, .resource_dependency .criticality_toggle {
	display: inline-block;
	vertical-align: middle;
}

.expando {
	padding-right: 10px;
	margin-bottom: 5px;
}

ol, ul {
list-style: none;
}
.or > ul {
  display: table-cell;
}
.or > ul > li {
  display: inline;
  float: left;
}

.and > ul > li {
  clear: left;
}


.item_image {
  display:table-cell;
  width:40px;
  height:40px;
}

.item_image.observations {
  background-image:url('/assets/icon_observations.png');
  background-repeat: no-repeat;
}

.item_image.history {
  background-image:url('/assets/icon_history.png') ;
  background-repeat: no-repeat;
}

.item_image.treatments {
  background-image:url('/assets/icon_treatments.png');
  background-repeat: no-repeat;
}

.item_image.conditions {
  background-image:url('/assets/icon_conditions.png');
  background-repeat: no-repeat;
}

.item_image.demographics {
  background-image:url('/assets/icon_demo.png');
  background-repeat: no-repeat;
}