.container {
  display: table;
  min-height: 20px;
  min-width: 30px;
  border-style: dotted;
}

.container_row {
  display:table-row;
  min-height: 20px;
}

.container_cell {
  display: table-cell;
}

.bottom_hotzone {
  height: 20px;
}



div.item {
  min-width:60px;
}

div.item .description {
  width: 60px;
  height: 40px;
}

div.item .builder_image {
  width: 40px;
  height: 40px;
}