a.bluebutton, a.whitebutton {
  background: transparent url('blue_right.png') no-repeat scroll top right;
  color: #666;
  display: inline-block;
  font-weight: bold;
  font-size: 10px;
  padding-right: 16px;
  margin-right:10px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 100;
}
a.bluebotton:hover , a.whitebutton:hover  {color:#000}
a.whitebutton { background: transparent url('white_right.png') no-repeat scroll top right; }
a.bluebutton span {
  background: transparent url('blue_left.png') no-repeat;
  display: block;
  line-height: 14px;
  padding: 8px 10px 8px 28px;
}
a.whitebutton span {
  background: transparent url('blue_left.png') no-repeat;
  display: block;
  line-height: 14px;
  padding: 8px 10px 8px 28px;
}
a.whitebutton span { background: transparent url('white_left.png') no-repeat; }
.bluebutton:active { outline: none;position:relative;top:1px;left:1px }
.whitebutton.active { outline: none; position:relative;top:1px;left:1px}

.btn.alert {
  background-color: #ECA15F;
  background-repeat: repeat-x;
  background-repeat-x: repeat;
  background-repeat-y: no-repeat;
  font-weight: bold;
  padding: 2px 2px;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#F3C497), to(#ECA15F));
  background-image: -moz-linear-gradient(top, #F3C497, #ECA15F);
  background-image: -ms-linear-gradient(top, #F3C497, #ECA15F);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F3C497), color-stop(100%, ##ECA15F));
  background-image: -webkit-linear-gradient(top, #F3C497, #ECA15F);
  background-image: -o-linear-gradient(top, #F3C497, #ECA15F);
  background-image: linear-gradient(top, #F3C497, #ECA15F);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #C43C35 #C43C35 #882A25;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  float: right;
  color: black;
  font-size: .7em
  font-weight: bold;
  line-height: 13.5px;
  text-shadow: 0 1px 0 white;
}

#execute-button.btn {
  float: right;
}

.whitebutton {
  margin-right: 10px;
  background: no-repeat scroll top right;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
  background-color: #4996B9;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #F1F2F2), to(#E0E0E0));
  background-image: -webkit-linear-gradient(#fff, #F1F2F2 25%, #E0E0E0);
  background-image: -moz-linear-gradient(top, #fff, #F1F2F2 25%, #E0E0E0);
  background-image: -ms-linear-gradient(#fff, #F1F2F2 25%, #E0E0E0);
  background-image: -o-linear-gradient(#fff, #F1F2F2 25%, #E0E0E0);
  background-image: linear-gradient(#fff, #F1F2F2 25%, #E0E0E0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#E0E0E0', GradientType=0);
  z-index: 100;
  padding: 5px 14px 6px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #333;
  font-size: 0.7em;
  letter-spacing: 1px;
  font-weight: bold;
  line-height: normal;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
}

.btn {
  margin-right: 10px;
  background: no-repeat scroll top right;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
  background-color: #4996B9;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #E0E0E0), to(#ccc));
  background-image: -webkit-linear-gradient(#fff, #E0E0E0 25%, #ccc);
  background-image: -moz-linear-gradient(top, #fff,  #E0E0E0 25%, #ccc);
  background-image: -ms-linear-gradient(#fff, #E0E0E0 25%, #ccc);
  background-image: -o-linear-gradient(#fff, #E0E0E0 25%, #ccc);
  background-image: linear-gradient(#fff, #E0E0E0 25%, #ccc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#4996B9', GradientType=0);
  z-index: 100;
  padding: 5px 14px 6px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #333;
  font-size: 0.7em;
  letter-spacing: 1px;
  font-weight: bold;
  line-height: normal;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
  }
  .btn:hover {
  color: #ffffff;
  background-color: #7D82A1;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#92C0D5), to(#4996B9));
  background-image: -moz-linear-gradient(top, #92C0D5, #4996B9);
  background-image: -ms-linear-gradient(top, #92C0D5, #4996B9);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #92C0D5), color-stop(100%, #4996B9));
  background-image: -webkit-linear-gradient(top, #92C0D5, #4996B9);
  background-image: -o-linear-gradient(top, #92C0D5, #4996B9);
  background-image: linear-gradient(top, #92C0D5, #4996B9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#92C0D5', endColorstr='#4996B9', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #C0C0D0 #C0C0D0 #7D82A1;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  }
.btn:active { outline: none;position:relative;top:1px;left:1px }
 