@import "mixins";

/* common CSS mixin functions */
@mixin buttongradient($startcolor: #fff, $endcolor: #E0E0E0, $colorstop: #ccc) { 
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($startcolor), color-stop(25%, $colorstop), to($endcolor));
  background-image: -webkit-linear-gradient($startcolor, $colorstop 25%, $endcolor);
  background-image: -moz-linear-gradient(top, $startcolor, $colorstop 25%, $endcolor);
  background-image: -ms-linear-gradient($startcolor, $colorstop 25%, $endcolor);
  background-image: -o-linear-gradient($startcolor, $colorstop 25%, $endcolor);
  background-image: linear-gradient($startcolor, $colorstop 25%, $endcolor);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$startcolor, endColorstr=$end, GradientType=0);
}

@mixin boxshadow() {
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

@mixin transition() {
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
}

@mixin textshadow($r: 255, $g: 255, $b: 255, $a: 0.75) {
    text-shadow: 0 1px 1px rgba($r, $g, $b, $a);
}

@mixin btntextsize() {
  font-size: 0.7em;
  letter-spacing: 1px;
  font-weight: bold;
}

$blue: #4996B9;
$ltblue: #92C0D5;
$bluemed: #75B4CF;
$radius: 10px;

.foobutton {
@include buttongradient(#ccc, #fff, #000);
}

.whitebutton {
  @include rounded($radius);
  @include buttongradient();
  @include boxshadow();
  @include textshadow();
  @include btntextsize();
  margin-right: 10px;
  background: no-repeat scroll top right;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
  background-color: #4996B9;
  background-repeat: no-repeat;
  z-index: 100;
  padding: 5px 14px 6px;
  color: #333;
  line-height: normal;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
}

.btn {
  @include buttongradient();
  @include rounded($radius);
  @include boxshadow();
  @include textshadow();
  @include btntextsize();
  margin-right: 10px;
  background: no-repeat scroll top right;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
  background-color: #ccc;
  background-repeat: no-repeat;
  z-index: 100;
  padding: 5px 8px 6px;
  color: #333;
  line-height: normal;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
}

.btn:hover {
  @include buttongradient();
  background-repeat: no-repeat;
  color: #000;
}

.btn.primary {
  @include rounded($radius);
  @include boxshadow();
  @include textshadow(120, 120, 120, 0.75);
  @include btntextsize();
  @include buttongradient($blue, $blue, $blue);
  color: #fff;
  background-repeat: repeat-x;
  border-color: #C0C0D0 #C0C0D0 #7D82A1;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn.primary:hover {
  background-color: $ltblue;
  background-repeat: no-repeat;
  @include buttongradient($ltblue, $bluemed, $blue)
}

.btn:active { outline: none;position:relative;top:1px;left:1px }

.btn.alert {
  color: #939598;
  background-color: #fff;
  padding: 2px;
  background: none;
}

.btn.alert:hover {
  background-color: #ECA15F;
  background-repeat: repeat-x;
  background-repeat-x: repeat;
  background-repeat-y: no-repeat;
  border-color: #C43C35 #C43C35 #882A25;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  float: right;
  color: black;
  line-height: 13.5px;
  text-shadow: 0 1px 0 white;
}

#execute-button.btn {
  float: right;
}
 