a.bluebutton, a.whitebutton {
  background: transparent url('blue_right.png') no-repeat scroll top right;
  color: #666;
  display: inline-block;
  font-weight: bold;
  font-size: 10px;
  padding-right: 16px;
  margin-right:10px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 100;
}
a.bluebutton:hover , a.whitebutton:hover  {color:#000}
a.whitebutton { background: transparent url('white_right.png') no-repeat scroll top right; }
a.bluebutton span {
  background: transparent url('blue_left.png') no-repeat;
  display: block;
  line-height: 14px;
  padding: 8px 10px 8px 28px;
}
a.whitebutton span {
  background: transparent url('blue_left.png') no-repeat;
  display: block;
  line-height: 14px;
  padding: 8px 10px 8px 28px;
}
a.whitebutton span { background: transparent url('white_left.png') no-repeat; }
.bluebutton:active { outline: none;position:relative;top:1px;left:1px }
.whitebutton.active { outline: none; position:relative;top:1px;left:1px}