.debug_container {
  width: 500px;
  height: 200px;
  position: relative;
  display: inline-block;
}

.debug_editor {
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

.debug_error_panel {
  height: 200px;
	width: 350px;
	display: inline-block;
	font-family: sans-serif;
	overflow: auto;
	vertical-align: top;
}

.debug_error_panel p {
	padding: 5px;
	margin: 0px 10px 5px 10px;
	background-color: #FFAAAA;
	word-wrap: break-word;
}

.debug_output {
  display: none;
}