@font-face {
  font-family: Myriad-Regular;
    src: url('fonts/Myriad-Regular.eot');
    src: local('Myriad-Regular') url('myriad-regular.otf') format('Myriad-Regular.ttf');
}
body {
    font-size: 12pt;
    font-family: Myriad-Regular, Myriad, sans-serif;
    text-decoration: none;
    font-weight: normal;
}
header {
    margin: 0 0 0 20px;
    font-size: 1.4m;
    top: 0;
    z-index: 100;
    position: fixed;
    display: inline-block;
    padding: 0 0 5px 0;
    background-color: white;
    width: 100%;
    height: 120px;
}

header h1 {
    float: left;
    margin: 90px 0 0 -180px;
    font-size: 10pt;
    font-weight: normal;

}

header img {
    float: left;
    padding: 20px 0 0 0;
    width: 180px;
}

div#navmenu {
    height: 30px;
    width: 100%;
    border-bottom: solid #CCCCCC 2px;
}
div#navmenu ul {
    margin: 80px 20px 0 200px;
    padding: 0px;
    font-family: Myriad-Regular, Myriad, sans-serif;
    font-size: normal;
    color: #000;
    line-height: 30px;
    white-space: nowrap;
}
div#navmenu li {
    list-style-type: none;
    display: inline;
}
div#navmenu li a {
    text-decoration: none;
    padding: 10px 30px;
    color: black;
}
div#navmenu li a:link {
    color: #808080;
}

div#navmenu li a:visited {
    color: #CCC;
}

div#navmenu li a:hover {
    color: #000;
}

div#navmenu li a.selected {
    color: #000;
    background-color: white;
    border-color: #CCCCCC;
    border-style: solid;
    border-radius: 18px 18px 0 0;
       border-style: solid;
       border-width: 6px 0 0 0;
}


div#chart {
  margin: 0 auto;
  width: 640px;
  height: 480px;
}


