@font-face {
  font-family: Myriad-Regular;
    src: url('fonts/Myriad-Regular.eot');
    src: local('Myriad-Regular') url('myriad-regular.otf') format('Myriad-Regular.ttf');
}
body {
    font-size: 12pt;
    font-family: Myriad-Regular, Myriad, sans-serif;
    text-decoration: none;
    font-weight: normal;
}
header {
    margin: 0 0 0 20px;
    font-size: 1.4m;
    top: 0;
    z-index: 100;
    position: fixed;
    display: inline-block;
    padding: 0 0 5px 0;
    background-color: white;
    width: 100%;
    height: 120px;
}

header h1 {
    float: left;
    margin: 90px 0 0 -180px;
    font-size: 10pt;
    font-weight: normal;

}

header img {
    float: left;
    padding: 20px 0 0 0;
    width: 180px;
}

div#navmenu {
    height: 30px;
    width: 100%;
    border-bottom: solid #CCCCCC 2px;
}
div#navmenu ul {
    margin: 80px 20px 0 200px;
    padding: 0px;
    font-family: Myriad-Regular, Myriad, sans-serif;
    font-size: normal;
    color: #000;
    line-height: 30px;
    white-space: nowrap;
}
div#navmenu li {
    list-style-type: none;
    display: inline;
}
div#navmenu li a {
    text-decoration: none;
    padding: 10px 30px;
    color: black;
}
div#navmenu li a:link {
    color: #808080;
}

div#navmenu li a:visited {
    color: #CCC;
}

div#navmenu li a:hover {
    color: #000;
}

div#navmenu li a.selected {
    color: #000;
    background-color: white;
    border-color: #CCCCCC;
    border-style: solid;
    border-radius: 18px 18px 0 0;
       border-style: solid;
       border-width: 6px 0 0 0;
}

div#search_box input {
    font: normal 1m/100%;
}

div#search_box .searchfield {
    margin: -20px 0 5px 0;
    background: #fff;
    padding: 6px 6px 6px 8px;
    width: 170px;
    border: solid 1px #bcbbbb;
    outline: none;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;

    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
}

div#icons {
    margin: 120px 60px 0 20px;
    position: relative;
    float: left;
    width: 200px;
    height: 800px;
    text-decoration:none;
}

div#icons h1 {
    font-weight:normal;
    font-size: 18pt;  
}

div#icons ul {
    padding: 10px 0 0 20px;
    margin: 20px 0 0 20px;
    position: float left;
    font-size: 12pt;

}

div#icons img {
    margin: 0 10px 0 0;
    vertical-align:-30px;
    padding: 0 0 20px 0;
} 

div#variables {
    height: 46%;
}

div#display_border_color {
      float: right;
         background-color: #8FC1D3;
         border-color: #8FC1D3;
         opacity: 1;
         border-radius: 0 18px 18px 0;
         border-style: solid;
         border-width: 0 18px 0 0;
         width: 18px;
         height: 100%;
}

div#display_border_edge {
      margin: 0 -18px 0 0;
      float: right;
         background-color: white;
         border-color: white;
         border-radius: 0 18px 18px 0;
         border-style: solid;
         border-width: 0 18px 0 0;
         width: 0px;
         height: 100%;
}

div#variables_border_color {
      float: right;
         background-color: #B7E0E1;
         border-color: #B7E0E1;
         border-radius: 0 18px 18px 0;
         border-style: solid;
         border-width: 0 18px 0 0;
         width: 18px;
         height: 100%;
}
div#variables_border_edge {
      margin: 0 -18px 0 0;
      float: right;
         background-color: white;
         border-color: white;
         border-radius: 0 18px 18px 0;
         border-style: solid;
         border-width: 0 18px 0 0;
         width: 0px;
         height: 100%;
}
div#icons ul {
        list-style-type: none;
        padding:0; margin:0;
}

div#display {
    margin: 36px 0 0 0;
    height: 25%;
}

div#stats {
}

div#trash {
    float: right;
}
  
div#workspace {
        float: left;
        margin: 138px 0 0 50px;
        height: relative;
        min-width: 500px;
        max-width:1000%;
        /*max-width: 80%;*/
        text-decoration:none;
         font-style: normal;   
}

div#workspace_top_border {
       background-color: #CCCCCC;
       border-color: #CCCCCC;
       border-radius: 18px 18px 0 0;
       border-style: solid;
       border-width: 18px 0 0 0;
       height: 15px;
       width: 100%;
}

div#workspace_top_border_lower {
       background-color: white;
       border-color: white;
       border-radius: 18px 18px 0 0;
       border-style: solid;
       border-width: 15px 0 0 0;
       height: 2px;
       width: 100%;
}

div#find {
    float: left;
    color: #000;
    width: 100%;
    height: 200px;
}

div#find h1 {
    float: left;
    clear:both;
    margin: 20px 0 0 -5px;
    text-decoration:none;
    font-size: 18pt;
    font-weight: normal;
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    height:100px; line-height:100px;
}

div#filter h1 {
    float: left;
    margin: 20px 0 0 -10px;
    font-weight: normal;
    font-size: 18pt;
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    height:100px; line-height:100px;
}


div#extract h1 {
    float: left;
    margin: 20px 0 0 -22px;
    font-weight: normal;
    font-size: 18pt;
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    height:100px; line-height:100px;
}

div#analyze h1 {
    float: left;
    margin: 20px 0 0 -25px;
    font-weight: normal;
    font-size: 18pt;
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    height:100px; line-height:100px;
}

div#find_bottom_border {
      float: bottom;
       background-color: white;
       border-color: white;
       border-radius: 0 0 18px 18px;
       border-style: solid;
       border-width: 0 0 18px 0;
       height: 2px;
       width: 100%;    
}

div#find_bottom_border_lower {      
      float: bottom;
      clear: both;
      background: #CCCCCC;
        border: 0 #CCCCCC;
        border-style: solid;
        border-radius: 0 0 18px 18px;
        border-width: 0 0 40px 0;
        height: 0px;
        width: 100%;
}

div#header_line {  
}
  
div#filter_bottom_border {
      float: bottom;

       background-color: white;
       border-color: white;
       border-radius: 0 0 18px 18px;
       border-style: solid;
       border-width: 0 0 18px 0;
       height: 2px;
       width: 100%;    
}
div#filter_bottom_border_lower {
    float: bottom;
    clear: both;
    background: #CCCCCC;
      border: 0 #CCCCCC;
      border-style: solid;
      border-radius: 0 0 18px 18px;
      border-width: 0 0 40px 0;
      height: 0px;
      width: 100%;
}
div#extract_bottom_border {
      float: bottom;

       background-color: white;
       border-color: white;
       border-radius: 0 0 18px 18px;
       border-style: solid;
       border-width: 0 0 18px 0;
       height: 2px;
       width: 100%;    
}

div#extract_bottom_border_lower {
    float: bottom;
    clear: both;
    background: #CCCCCC;
      border: 0 #CCCCCC;
      border-style: solid;
      border-radius: 0 0 18px 18px;
      border-width: 0 0 40px 0;
      height: 0px;
      width: 100%;
}

div#results {
    width: 100%;
    float: right;
    font-size: 18;
    color: 000;
    font-family: Myriad-Regular, Myriad, sans-serif;
}

div#workspace_bottom_border {
    float: bottom;
       background-color: white;
       border-color: white;
       border-radius: 0 0 18px 18px;
       border-style: solid;
       border-width: 0 0 18px 0;
       height: 2px;
       width: 100%;
}

div#workspace_bottom_border_lower {
    float: bottom;
    clear: both;
    background: #CCCCCC;
      border: 0 #CCCCCC;
      border-style: solid;
      border-radius: 0 0 18px 18px;
      border-width: 0 0 40px 0;
      height: 0px;
      width: 100%;
}

div#chart {
  margin: 0 auto;
  width: 640px;
  height: 480px;
}

