@import "mixins";
$paletteWidth  : 200px;
$paletteBorderWidth  : 18px;
$paletteRadius : 18px;

$workspaceBorderColor :#cccccc;
$workspaceBorderWidth : 18px;
$workspaceBorderRadius : 18px;

$variablesBorderColor  : #B7E0E1;
$displayBorderColor : #8FC1D3;


div#search_box input {
    font-size:10pt;
}

div#search_box .searchfield {
    margin: -20px 0 5px 0;
    background: #fff;
    padding: 6px 6px 6px 8px;
    width: 170px;
    border: solid 1px #bcbbbb;
    outline: none;
    @include rounded(2em);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
}


div#iconsWrapper { 
  position: absolute;
}

div#icons.fixed {
  position: fixed;
  top: 0;
}  

div#icons {
  margin: 20px 20px 20px 0;
  position: relative;
  float: left;
  width: $paletteWidth;
  top: 0;
  /* just used to show how to include the margin in the effect */
  padding-top: 5px;
  
  h1 { 
    font-weight:normal;
    font-size: 16pt;
    margin:10px $paletteBorderWidth*2 0 0;
  }
  
  ul {
    margin-top:10px;
    list-style-type: none;
    font-size: 10pt;
  }
  li {
    margin:0 0 10px 0;
    width: $paletteWidth - 20;
    img {
      margin: 0 10px 0 0;
      vertical-align:-12px;
    } 
  }
}

div#display_border_color,
div#display_border_edge,
div#variables_border_color,
div#variables_border_edge {
  border-radius: 0 $paletteRadius $paletteRadius 0;
  border-style: solid;
  border-width: 0 $paletteBorderWidth 0 0;
  width: $paletteWidth;

}

div#display_border_edge,
div#variables_border_edge {
  background-color: white;
  border-color: white;
  width: $paletteWidth - $paletteBorderWidth;
}

div#variables_border_color {
  background-color: $variablesBorderColor;
  border-color: $variablesBorderColor;
}
div#display_border_color {
  margin-top:20px;
  background-color: $displayBorderColor;
  border-color:  $displayBorderColor;
}

div#variables, div#display {
  padding: 0 0 30px 0;

}


div#workspace {
  margin: 20px 30px 20px 260px;
  min-width: 700px;
  max-width: 100%;
  // to change to support full-width trees that do not wrap, uncomment below
  // and remove max-width above.
  /*
    width:100%;
    padding-right:30px;
  */
  h1 { 
    position:absolute;
    top:50px;
    left:0;
    width:1em;
    height:1em;
    font-size: 18pt;
    font-weight: normal;
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
  }
  .querySection {
     position:relative;
     min-height:200px;
     padding-bottom: 30px;
  }
}

div#filter h1 {
  top:70px;
}
div#extract h1 {
  top:100px;
}
div#analyze h1 {
  top:120px;
}

div#stats {
}

div#trash {
}

.top_border, .top_border_lower, .bottom_border, .bottom_border_lower {
  width:100%;
  border-style:solid;
  }
div.top_border {
  background-color: $workspaceBorderColor;
  border-color: $workspaceBorderColor;
  border-radius: $workspaceBorderRadius $workspaceBorderRadius 0 0;
  border-width: $workspaceBorderWidth 0 0 0;
  height: $workspaceBorderWidth - 3;
}

div.top_border_lower {
  background-color: white;
  border-color: white;
  border-radius: $workspaceBorderRadius $workspaceBorderRadius 0 0;
  border-width: $workspaceBorderWidth - 3 0 0 0;
  height: 2px;
}

div.bottom_border_lower {      
  background-color: $workspaceBorderColor;
  border-color:$workspaceBorderColor;
  border-radius: 0 0 $workspaceBorderRadius $workspaceBorderRadius;
  border-width: 0 0 $workspaceBorderWidth*2 0;
  height: 0px;
  position:absolute;
  bottom:0;
}

div.bottom_border {
  background-color: white;
  border-color: white;
  border-radius: 0 0 $workspaceBorderRadius $workspaceBorderRadius;
  border-width: 0 0 $workspaceBorderWidth 0;
  height: 0;
}
	



