@import "mixins";
$paletteWidth  : 180px;
$paletteBorderWidth  : 18px;
$paletteRadius : 18px;

$workspaceBorderColor :#cccccc;
$workspaceBorderWidth : 18px;
$workspaceBorderRadius : 18px;

$variablesBorderColor  : #B7E0E1;
$displayBorderColor : #8FC1D3;


input.searchfield {
    display:block;
    font-size:10pt;
    margin: 0 35px 20px 0;
    background: #fff;
    padding: 6px 6px 6px 8px;
    width: 170px;
    border: solid 1px #bcbbbb;
    float:left;
    outline: none;
    @include rounded(2em);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
}

div#queryInfo {
  margin-bottom:20px;
  a.ctrl, span.sep {float:right;line-height:2.1em}
  .bluebutton {float:right;margin-right:0;}
  h1, h2  {
    display:block;
  }
  h1 {font-size:1.3em;}
  h2 {color:#999}
}
  
div#ffeWrapper {
  position:relative;
  clear:left;
}
  
div#variablesIcons.fixed {
  position: fixed;
  top:0;
}  

div#variablesIcons.bottom {
	position: absolute;
	bottom: 0;
}

div.palette {
  position: relative;
  width: $paletteWidth + $paletteBorderWidth;
  float:left;
  h1 { 
    font-weight:normal;
    font-size: 16pt;
    margin:10px $paletteBorderWidth*2 0 0;
  }
  
  ul {
    margin-top:10px;
    list-style-type: none;
    font-size: 10pt;
  }
  
  li {
    margin:0 0 10px 0;
    width: $paletteWidth - 20;
    img {
      margin: 0 10px 0 0;
      vertical-align:-12px;
    } 
  }
}

div.border_color, div.border_edge {
  border-radius: 0 $paletteRadius $paletteRadius 0;
  border-style: solid;
  border-width: 0 $paletteBorderWidth 0 0;
  width: $paletteWidth;

}

div.border_edge {
  background-color: white;
  border-color: white;
  width: $paletteWidth - $paletteBorderWidth;
}

div#variablesIcons .border_color {
  background-color: $variablesBorderColor;
  border-color: $variablesBorderColor;
}
div#displayIcons .border_color {
  margin-top:20px;
  background-color: $displayBorderColor;
  border-color:  $displayBorderColor;
}

div.icons {
  padding: 0 0 20px 0;

}

div#workspace, div#analyze_workspace {
  padding-top: 0;
  min-width: 700px;
  max-width: 100%;
  margin-left:220px;
  // to change to support full-width trees that do not wrap, uncomment below
  // and remove max-width above.
  /*
    width:100%;
    padding-right:30px;
  */
  h1 { 
    position:absolute;
    top:50px;
    left:0;
    width:1em;
    height:1em;
    font-size: 18pt;
    font-weight: normal;
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
  }
  h2 {
  	margin: 20px 0 10px 0;
  }
  .querySection {
     position:relative;
     min-height:200px;
     padding-bottom: 30px;
  }
}

div#filter h1 {
  top:70px;
}
div#extract h1 {
  top:100px;
}
div#analyze h1 {
  top:120px;
}



.top_border, .top_border_lower, .bottom_border, .bottom_border_lower {
  width:100%;
  border-style:solid;
  }
div.top_border {
  background-color: $workspaceBorderColor;
  border-color: $workspaceBorderColor;
  border-radius: $workspaceBorderRadius $workspaceBorderRadius 0 0;
  border-width: $workspaceBorderWidth 0 0 0;
  height: $workspaceBorderWidth - 3;
}

div.top_border_lower {
  background-color: white;
  border-color: white;
  border-radius: $workspaceBorderRadius $workspaceBorderRadius 0 0;
  border-width: $workspaceBorderWidth - 3 0 0 0;
  height: 2px;
}

div.bottom_border_lower {      
  background-color: $workspaceBorderColor;
  border-color:$workspaceBorderColor;
  border-radius: 0 0 $workspaceBorderRadius $workspaceBorderRadius;
  border-width: 0 0 $workspaceBorderWidth*2 0;
  height: 0px;
  position:absolute;
  bottom:0;
}

div.bottom_border {
  background-color: white;
  border-color: white;
  border-radius: 0 0 $workspaceBorderRadius $workspaceBorderRadius;
  border-width: 0 0 $workspaceBorderWidth 0;
  height: 0;
}


	



